---
import { Icon } from "astro-icon/components";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Not Found">
  <h1>Page not found <Icon name="bi:emoji-tear-fill" /></h1>
</Layout>
