---
import Image from "astro/components/Image.astro";
import profilePhoto from "../img/profile_photo_2022_alpha.png";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome!">
  <Image
    src={profilePhoto}
    alt="Keith Edyburn smiling"
    format="png"
    class="avatar"
    width={300}
    loading="eager"
  />
  <h1>Welcome!</h1>
  <p>
    Hi, I'm Keith, a full-stack software engineer, located in Charlottesville,
    VA (US/Eastern timezone).
  </p>
  <p>
    I'm particularly drawn to organizations and projects that seek to make a
    postitive impact on society, and I've worked in the domains of healthcare,
    education, and accessibility.
  </p>
  <p>
    I enjoy solving problems and building great user and developer experiences.
    I'm also interested in leveraging typechecking to reduce defects.
  </p>
  <p>
    I'm available for full-time or consulting work, so drop me an <a
      href="mailto:keith [at] edyburn [dot] info"
      data-mangled-email>email</a
    > if you'd like to connect!
  </p>
</Layout>

<style>
  .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 1rem;
    background: var(--white);
    float: left;
  }
</style>
