---
import { Image } from "astro:assets";
import { type CollectionEntry, render } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const { image } = project.data;
const { Content } = await render(project);
---

{
  image ? (
    <Image src={image.path} alt={image.alt} width={200} densities={[1, 2]} />
  ) : (
    <div class="no-image">Image unavailable</div>
  )
}

<div class="content">
  <Content />
</div>
